.container {
    height: 700px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid black;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    flex-wrap: wrap;
}

.box{
    color: white;
    height: 50px;
    width: 40%;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
   }

   .box3 {
    background-color: blue
   }

   .box4 {
    background-color: black;
   }

   .box5 {
    background-color: rgb(119, 0, 255);
   }

   .box6 {
    background-color: rgb(8, 238, 142);
   }